<h1>Styles And Bootstrap - Sample</h1>
<p>Sample application to show how to use NgClass and NgStyle directives, also with Bootstrap classes.</p>
<p class="mb-3">
	<span aria-hidden="true">📖</span>
	&nbsp;More about NgClass and NgStyle:
	<a
		href="https://codecraft.tv/courses/angular/built-in-directives/ngstyle-and-ngclass/"
		aria-label="More about NgClass and NgStyle"
		target="_blank">
		ngstyle-and-ngclass
	</a>
</p>
<div class="d-flex align-items-center justify-content-start">
	<p>Click the following buttons to change the alert type</p>
	<ul class="d-flex align-items-center justify-content-start gap-10">
		<li>
			<button
				type="button"
				class="me-3"
				aria-label="Click to set primary alerts"
				(click)="onClickButton('primary')">
				Primary
			</button>
		</li>
		<li>
			<button
				type="button"
				class="me-3"
				aria-label="Click to set danger alerts"
				(click)="onClickButton('danger')">
				Danger
			</button>
		</li>
		<li>
			<button
				type="button"
				class="me-3"
				aria-label="Click to set success alerts"
				(click)="onClickButton('success')">
				Success
			</button>
		</li>
	</ul>
</div>

<h2 class="mt-3">Dynamic class names</h2>
<div
	class="my-alert dynamic-class-name"
	[class.danger]="alert.type === 'danger'"
	[class.success]="alert.type === 'success'"
	[class.primary]="alert.type === 'primary'">
	{{ alert.message }}
</div>

<h2 class="mt-3">Dynamic attribute class</h2>
<!--
	This case is not suggested, since every mouse/keyboard event triggers change detection and the evaluation of
	the getClass method
 -->
<div
	[class]="getClass()"
	class="dynamic-attribute-class">
	{{ alert.message }}
</div>

<h2 class="mt-3">NgClass</h2>
<!-- NgClass is a Directive that should be imported in the "imports" array in the metadata. If more conditions
	are satisfied, the relative classes will be applied together; in case of overlapping of styles, the one with
	more SPECIFICITY will be applied over the others. More about specificity concept: -->

<div>SPECIFICITY documentation:</div>
<ul>
	<li>
		<span aria-hidden="true">📖</span>
		<a
			href="https://www.w3schools.com/css/css_specificity.asp"
			aria-label="Go to w3schools site"
			target="_blank">
			w3schools
		</a>
	</li>
	<li>
		<span aria-hidden="true">📖</span>
		<a
			href="https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity"
			aria-label="Go to developer.mozilla site"
			target="_blank">
			developer.mozilla
		</a>
	</li>
	<li>
		<span aria-hidden="true">📖</span>
		<a
			href="https://css-tricks.com/specifics-on-css-specificity/"
			aria-label="Go to css-tricks site"
			target="_blank">
			css-tricks
		</a>
	</li>
</ul>

<div
	class="my-alert ng-class"
	[ngClass]="{
		primary: alert.type === 'primary',
		danger: alert.type === 'danger',
		success: alert.type === 'success',
	}">
	{{ alert.message }}
</div>

<h2 class="mt-3">Inline styles</h2>
<!--
	The directive style can be concatenate with css properties and bounded to a property through data binding.
	Sometimes, the single css property is not enough, as in the case of fontSize, width, etc, where a unit of
	measure should be specified: a suffix can be concatenated after the css property and in this case we talk
	about "suffix operator"
 -->
<div
	class="my-alert inline-styles"
	[style.background-color]="alert.backgroundColor"
	[style.color]="alert.color"
	[style.width.px]="alert.width">
	{{ alert.message }}
</div>

<h2 class="mt-3">NgStyle</h2>
<div
	class="my-alert ng-styles"
	[ngStyle]="styles">
	{{ alert.message }}
</div>

<h2 class="mt-3">Use Bootstrap Classes</h2>
<div
	class="alert"
	[ngClass]="{
		'alert-primary': alert.type === 'primary',
		'alert-danger': alert.type === 'danger',
		'alert-success': alert.type === 'success',
	}">
	{{ alert.message }} - {{ alert.type }}
</div>
